---
layout: default
---

<!-- Page Header -->
{% if layout.background %}
<header class="masthead" style="background-image: url('{{ layout.background | prepend: site.baseurl | replace: '//', '/' }}')"> <!--RG: We never set the background in the front matter. The logo is added in the mast head below -->
{% else %}
<header class="masthead">
{% endif %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto pb-4">
        <div class="page-heading">
            <!-- <img class="img-fluid mx-auto" src="/img/OAHeaderLogo.png" alt=""> -->
          <!-- <h1>{{ page.title }}</h1> -->
          <h2 class="rg-pagetitle" >OneAction NZ</h2>
          <h4 class="font-lato" >Political Co-operative</h4>
          
          <!-- {% if page.description %}
            <span class="subheading">{{ page.description }}</span>
          {% endif %} --> <!--RG: Not using a sub-heading in the masthead-->
        </div>
      </div>
    </div>
  </div>
</header>


{{ content }}
  
  

